{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "jest": true,
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@src", "./src/"],
          ["@libs", "./src/libs/"]
          // ["@build", "./build/Release/"]
        ],
        "extensions": [".ts", ".js", ".json"]
      }
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["off"],
    "no-unused-vars": ["off"],
    "no-param-reassign": ["off"],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "ts": "never",
        "js": "never",
        "json": "always"
      }
    ],
    "no-array-constructor": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
